<ion-header class="header">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Greetgo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="contact-list" *ngIf="contacts.length > 0">

    <ion-item-sliding *ngFor="let contact of contacts">
      <ion-item button detail="false" (click)="goToSecondPage(contact)" class="contact-list-item">

        <ion-label class="contact-name">
          {{contact?.name?.display}}
          <p class="contact-secondary-text">
            {{contact?.phones[0].number}}
          </p>
        </ion-label>

        <ion-buttons slot="end" class="contact-buttons">
          <ion-button color="dark" shape="round">
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
          <ion-button color="dark" shape="round">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteContact(contact)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
