<ion-header class="header">
  <ion-toolbar>
    <ion-title>
      Greetgo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="contact-list" *ngIf="contacts.length > 0">
    <ion-item class="contact-list-item" *ngFor="let contact of contacts">
      <ion-label class="contact-name">
        {{contact?.name?.display}}
      </ion-label>
      <div class="contact-secondary">
        <p>
          <ion-text class="contact-secondary-text contact-number">
            {{contact?.phones[0].number}}
          </ion-text>
        </p>
        <p>
          <ion-text class="contact-secondary-text contact-email">
            {{contact?.emails[0].number}}
          </ion-text>
        </p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
